html,
body {
    margin: 0;
    padding: 0;
    height: fit-content;
    background-color: #323539;
    width: calc(100vw - 20px);
}
a {
    margin: -2px;
}
.nav.nav-tabs {
    position: relative;
}
.nav.nav-tabs .nav-link.active {
    background-color: #fff !important;
    color: #495057;
}
.nav.nav-tabs .nav-link {
    background-color: #212529 !important;
    color: gainsboro;
    border: none;
    height: 60px;
    width: 160px;
    margin-bottom: 1px;
}
div#__next {
    background-color: #323539;
}
.region-switch .form-switch {
    margin: 3px 0px 0 15px;
}
.region-switch > p {
    position: relative;
    top: 2px;
}
input#region-switch.form-check-input {
    border-color: white;
}
input#region-switch.form-check-input:checked {
    background-color: gainsboro;
}
input#region-switch.form-check-input {
    background-color: gainsboro;
}
input#region-switch.form-check-input,
input#region-switch.form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23323539'/%3e%3c/svg%3e");
}
#charger-select {
    width: fit-content;
    margin: 0 0 5px 0;
}
#charger-tabs-tabpane-self-charge-aoe > table:nth-child(1) > tbody:nth-child(1) > tr > td:first-child,
#charger-tabs-tabpane-self-charge-st > table:nth-child(1) > tbody:nth-child(1) > tr > td:first-child {
    border-right: 2px solid white !important;
}
#charger-tabs-tabpane-self-charge-support {
    width: 40%;
}
img {
    height: auto;
}
#charger-tabs-tabpane-targeted-party-chargers
    > table.table.table-dark.table-striped.table-bordered.table-hover:nth-child(1):before {
    content: "Party";
    margin-left: 50%;
    color: gainsboro;
    font-size: xx-large;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#charger-tabs-tabpane-targeted-party-chargers
    > table.table.table-dark.table-striped.table-bordered.table-hover:nth-child(2):before {
    content: "Ally";
    margin-left: 50%;
    color: gainsboro;
    font-size: xx-large;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* Chargers Tabs and Region Switch begin to intersect */
@media (max-width: 911.98px) {
    #charger-tabs {
        display: none;
    }
}
@media (min-width: 911.98px) {
    #charger-select {
        display: none;
    }
}
/* Chargers Select and Region Switch begin to intersect */
@media (max-width: 341.98px) {
    #charger-tabs {
        display: none;
    }
}
@media (min-width: 341.98px) {
    .region-switch {
        position: absolute;
        right: 0;
        z-index: 1;
        padding: 6px;
        font-size: larger;
    }
}
/* Monitors only */
@media (min-width: 991.98px) {
    div#__next {
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translate(-50%);
        margin: 1% 0;
    }
    #charger-tabs-tabpane-targeted-party-chargers > table.table.table-dark.table-striped.table-bordered.table-hover {
        width: 47.5%;
        float: left;
    }
    #charger-tabs-tabpane-targeted-party-chargers
        > table.table.table-dark.table-striped.table-bordered.table-hover:nth-child(1) {
        margin-right: 2.5%;
    }
    #charger-tabs-tabpane-targeted-party-chargers
        > table.table.table-dark.table-striped.table-bordered.table-hover:nth-child(2) {
        margin-left: 2.5%;
    }
    body {
        transform: scale(0.9);
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    img {
        width: 100px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    img {
        width: 100px;
    }
    #charger-tabs-tabpane-self-charge-support {
        width: unset;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    img {
        width: 80px;
    }
    #charger-tabs-tabpane-self-charge-support {
        width: unset;
    }
}
